:root {
    --bgcolor: #081b29;
    --whitevalacolour: #ededed;
    --lightbluevalacolour: #00abf0;
}

::selection {
    color: var(--lightbluevalacolour);
}

a {
    text-decoration: none;
}

* {
    background-color: var(--bgcolor);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--whitevalacolour);
}

header {
    box-sizing: border-box;
    padding: 4px;
    /* gap: 2px; */
    width: 100%;
    /* background-color: red; */
    display: flex;
}

.logo {
    box-sizing: border-box;
    padding: 6px;
    width: 50%;
    display: flex;
    /* background: #000; */
    gap: 3px;
}

.box {
    box-sizing: border-box;
    text-align: center;
    width: 20%;
    /* background-color: darkblue; */
}
@media only screen and (max-width:425px){
    *{
        font-size:0.85rem ;
    }
    header{
        flex-direction: column;
    }
    .logo{
        width: 100%;
    }
    .logo > a{
        width: 100%;
        text-align: center;
    }
    
}

